<nav id="custom-bar" class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Chitter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">      
                <% if(currentUser) { %> 
                    <a class="nav-link" aria-current="page" href="/posts">Posts</a>
                    <a class="nav-link" aria-current="page" href="/profile/<%= currentUser._id %>">Profile</a>
                    <a class="nav-link" href="/posts/new">Make a post</a>
                    <a class="nav-link" href="/">About us</a>
                <% } %>
            </div>
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <% if(currentUser) { %> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <%= currentUser.FirstName%> <%= currentUser.LastName%> 
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/profile/<%= currentUser._id %>">Profile</a></li>
                          <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                        </ul>
                      </li>
 
                <% }  else { %> 
                    <a class="nav-link" href="/register">Sign up</a>
                    <a class="nav-link" href="/login">Log in</a>
                <% } %> 
                
            </div>

        </div>
    </div>
</nav>
