@import "./navbar.css";
@import "./auth.css";
@import "./home.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease-out;
}

body {
    color: black;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-track{
    background: #fff;
}
html::-webkit-scrollbar-thumb{
    background: #fa003f;
    border-radius: 50px;
}

/* nav {
    background-color: rgb(38, 87, 136);
    opacity: 0.90;
    color: white;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: large;
}

.navbar-brand {
    font-size: x-large;
} */

.underline {
   border-bottom: solid white 2px;
}

.card {
   margin: 2px;
   min-width: 350px;
}
 .card-link {
    color: black;
    text-decoration: none;
    margin-right: 15px;
 }

.width-changer {
    width: 100%;
}

.highlight {
    background-color: #ced7de;
}

.noth {
    color: black;
}

.btn-success {
    background-color: #FA013F;
    border-radius: 50px;
    width: 150px;
    color: white;
    font-weight: 600;
    font-size: medium;
    border-radius: 25px;
}

.card-subtitle, .text-muted {
    color: #ced7de !important;
}

#outer {
    width: 100%;
    text-align: center;
}

.inner {
    margin-right: 3px;
    display: inline-block;
    align-items: center;
}

#followers {
    background-color: #fff;
    color: #1C2732;
    border: 1px black solid;
}

/* #followers:hover {
    background-color: gray;
    border: 1px white solid;
} */

#following {
    background-color: #fff;
    color: #1C2732;
    border: 1px black solid;
}


/* #following:hover {
    background-color: gray;
    border: 1px white solid;
} */

#unfollow {
    background-color: #1C2732;
    border: 1px green solid;
}

#unfollow:hover {
    background-color: gray;
    border: 1px white solid;
}

.modal {
    color: black !important; 
}

#profile-top {
    margin-top: 60px;
}

.modal-body {
    color: black;
}

/* .likes {
    border: 1px solid grey;
    margin-bottom: 0px;
    border-radius: 0%;
} */

.go-right {
    float: right;
}

.likes-display {
    display: inline-block; 
    margin-right: 60px;
    text-align: center;
}

.pink {
    color: #F42160 !important;
}

#like-button {
    padding: 2px;
    margin-left: 10px;
    margin-right: 2px;
    background: transparent;
    color: black;
    border: none;
}

.likes-number {
    color: black;
    font-weight: 800;
    text-decoration: none;
    border-left: 1px solid black;
    padding: 3px;
    margin-right: 15px;
}

#delete-button {
    padding: 2px;
    background: transparent;
    color: black;
    border: none;
}

#delete-button:hover {
    color: red;
}

#fixed-button {
    position: fixed;
    bottom: 10vh;
    right: 35px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
    width: 100px;
    float: left;
    margin: 10px;
}