<% layout('layouts/boilerplate') %>
<h1>index</h1>
<h3>Hello, <%= currentUser.FirstName %> <%= currentUser.LastName %> </h3>
<a href="/logout">Logout</a>

<% for(let post of posts) { %> 
    <div class="container">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@<%= post.author.username %> </h6>
            <p class="card-text"><%= post.body %> </p>
            <a href="#" class="card-link">Likes</a>
            <a href="#" class="card-link">Comment</a>
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Remove</a>
          </div>
        </div>
      </div>
    </div>
<% } %> 

